.zdy-bd3 {
	border: 3px solid black;
}

.zdy-bdn {
	border-right: none;
}

.zdy-pdb10 {
	padding-bottom: 10px;
}

.zdy-pdl10 {
	padding-left: 10px;
}

.zdy-pd0 {
	padding: 0;
}

.zdy-pd5 {
	padding: 5px;
}

.zdy-pd10 {
	padding: 10px;
}

.zdy-W60 {
	width: 60%;
}

.zdy-W50 {
	width: 50%;
}

.zdy-ml13 {
	margin-left: 13.5px;
}

.zdy-mr10 {
	margin-right: 10px;
}

.zdy-mt25 {
	margin-top: 25px;
}

.zdy-mt80 {
	margin-top: 80px;
}

.zdy-r-H {
	height: 384px;
}

.zdy-mt-196 {
	margin-top: -196px;
}

.zdy-bl-H {
	height: 196px;
}

.zdy-fl {
	float: left;
}

.zdy-fr {
	float: right;
}

.zdy-ml-15 {
	margin-left: -15px;
}